body{
    background: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 850px;
    margin: 0 auto;
}

header{
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid blue;
    padding-bottom: 20px;
    align-items: center;
}


.card{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    border-radius: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

h4{
    font-weight: normal;
    border-radius: 4px;
    padding: 15px;
    border-left: 4px solid #dddd;
}

.buttonTabela{
    display: flex;
    justify-content: center;
}

button{
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    height: 50px;
    border: none;
    font-size: 1em;
    padding: 9px;
    cursor: pointer;
}

.proximo{
    display: flex;
    justify-content: center;
}

.voltar{
    display: flex;
    justify-content: center;
}
